.ke-box {
  display: flex;
  flex-direction: column;
  position: relative;
}
.ke-editor {
  border: 1px solid #cccccc;
  padding: 10px;
}
.ke-editor:focus {
  outline: none;
}
.ke-editor .editing-image {
  outline: solid 1px #77a2ad;
  display: inline-block;
  position: relative;
}
.ke-editor .editing-image button {
  position: absolute;
  bottom: 1em;
  right: 1em;
  background: #77a2ad;
  color: white;
  font-size: 14px;
  border: none;
  padding: 0.5em;
  cursor: pointer;
}
.ke-toolbar {
  border: 1px solid #cccccc;
  border-bottom: none;
  background: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  font-family: Lato, Arial, Helvetica, sans-serif;
}
.ke-toolbar .ke-button-container {
  display: flex;
  position: relative;
  font-size: 16px;
}
.ke-toolbar .ke-button-container:hover .ke-dropdown {
  display: flex;
}
.ke-toolbar .ke-toolbar-button {
  font-size: 16px;
  line-height: 1em;
  min-width: 2.2em;
  text-align: center;
  border: none;
  font-family: Lato, sans-serif;
  font-weight: bold;
  padding: 0.6em;
  background: none;
  cursor: pointer;
  transition: all .3s;
  border-radius: 0;
  margin: 0;
  color: #333333;
}
.ke-toolbar .ke-toolbar-button:hover {
  background: #77a2ad;
  color: white;
}
.ke-toolbar .ke-toolbar-button:focus {
  outline: none;
}
.ke-toolbar .ke-toolbar-button.active {
  color: #77a2ad;
}
.ke-toolbar .sep {
  width: 1px;
  background: #cccccc;
}
.ke-dropdown {
  background: white;
  border: 1px solid #cccccc;
  position: absolute;
  left: 0;
  top: 2em;
  margin-top: -1px;
  display: none;
}
.ke-dropdown ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ke-dropdown ul li {
  padding: 0.6em;
  transition: all .5s;
  white-space: nowrap;
}
.ke-dropdown ul li:hover {
  background: #77a2ad;
  color: white;
}
.ke-code {
  border: 1px solid #cccccc;
  margin: 0;
  padding: 10px;
  font-family: monospace;
  background: #444;
  color: #CCC;
  display: none;
}
