.ke-box {
  display: flex;
  flex-direction: column;
  position: relative;
}
.ke-editor {
  border: 1px solid #cccccc;
  padding: 10px;
}
.ke-editor:focus {
  outline: none;
}
.ke-editor .editing-image {
  outline: solid 1px #77a2ad;
  display: inline-block;
  position: relative;
}
.ke-editor .editing-image button {
  position: absolute;
  bottom: 1em;
  right: 1em;
  background: #77a2ad;
  color: white;
  font-size: 14px;
  border: none;
  padding: 0.5em;
  cursor: pointer;
}
.ke-toolbar {
  border: 1px solid #cccccc;
  border-bottom: none;
  background: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-family: Lato, Arial, Helvetica, sans-serif;
}
.ke-toolbar .ke-button-container {
  display: flex;
  position: relative;
}
.ke-toolbar .ke-toolbar-button {
  font-size: 16px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  line-height: 1em;
  min-width: 2.2em;
  text-align: center;
  border: none;
  font-weight: bold;
  padding: 0.6em;
  background: none;
  cursor: pointer;
  transition: all .3s;
  border-radius: 0;
  margin: 0;
  color: #333333;
}
.ke-toolbar .ke-toolbar-button:hover {
  background: #77a2ad;
  color: white;
}
.ke-toolbar .ke-toolbar-button:focus {
  outline: none;
}
.ke-toolbar .ke-toolbar-button.active {
  color: #77a2ad;
}
.ke-toolbar .sep {
  width: 1px;
  background: #cccccc;
}
.ke-prompt {
  position: absolute;
  background: white;
  border: 1px solid #cccccc;
  border-radius: 0.2em;
  min-width: 250px;
  max-width: 100%;
  top: 2em;
  left: 0;
  z-index: 99;
  display: none;
}
.ke-prompt .ke-arrow {
  position: absolute;
  width: 0;
  height: 0;
  top: -8px;
  left: 0.6em;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #cccccc transparent;
}
.ke-prompt .ke-arrow:after {
  position: absolute;
  top: 1px;
  left: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent white transparent;
  content: '';
}
.ke-prompt .ke-prompt-header {
  padding: 0.8em 1em;
  border-bottom: 1px solid #cccccc;
}
.ke-prompt .ke-prompt-header h1 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: black;
}
.ke-prompt .ke-prompt-body {
  padding: 0 1em;
}
.ke-prompt .ke-prompt-body p {
  margin: 0.8em 0;
}
.ke-prompt .ke-prompt-body label {
  display: block;
  margin-bottom: 0.4em;
  font-weight: bold;
}
.ke-prompt .ke-prompt-input {
  border: 1px solid #cccccc;
  border-radius: 0.2em;
  font-size: 16px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
  transition: all .5s;
}
.ke-prompt .ke-prompt-input:focus {
  outline: none;
  border-color: #77a2ad;
}
.ke-prompt .ke-prompt-footer {
  padding: 0 1em 0.8em;
  text-align: right;
  margin: 0;
}
.ke-prompt .ke-prompt-footer button {
  font-size: 16px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  display: inline-block;
  border: none;
  color: white;
  background-color: #77a2ad;
  padding: 0.4em 0.6em;
  border-radius: 0.2em;
  margin: 0;
}
.ke-dropdown {
  background: white;
  border: 1px solid #cccccc;
  position: absolute;
  left: 0;
  top: 2em;
  display: none;
  text-align: left;
}
.ke-dropdown ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ke-dropdown ul li {
  padding: 0.6em;
  transition: all .5s;
  white-space: nowrap;
  color: black;
}
.ke-dropdown ul li:hover {
  background: #77a2ad;
  color: white;
}
.ke-code {
  border: 1px solid #cccccc;
  margin: 0;
  padding: 10px;
  font-family: monospace;
  background: #444;
  color: #CCC;
  display: none;
}
