@color: #77A2AD;

.font() {
  font-size: 16px;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

body {
  .font();
  margin: 0;
  padding: 2em;
}

#mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

#logo {
  height: 3.4em;
  display: block;
}

#topNav ul {
  list-style: none;
  display: flex;
  margin: 0;
  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    a {
      color: #333;
      padding: 0 1rem;
      line-height: 2rem;
      text-decoration: none;
      &.icon {
        font-size: 1.8em;
      }
    }
  }
}

#topBox {
  margin: 0 -2rem;
  font-size: 1.8em;
  font-weight: 300;
  text-align: center;
  padding: 2em;
  color: white;
  text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-position: center;
  background: url(images/bamboo.jpg);
  position: relative;
  p, h1 {
    position: relative;
  }
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: black;
    opacity: 0.4;
  }
  h1 {
    font-size: 1.6em;
    font-weight: 300;
  }
}

button {
  border: none;
  background: @color;
  .font();
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 0.6em 0.8em;
  color: white;
}

section h1 {
  color: @color;
  font-size: 2em;
}

h2 {
  font-size: 1.3em;
  color: #77A2AD;
}

.code(){
  border-radius: 0.3em;
  background: lighten(@color, 40%);
  border: dashed 1px @color;
}

code {
  .code();
  display: inline-block;
  padding: 0.3em 0.4em 0.2em;
}

pre{
  .code();
  display: block;
  padding: 1em;
}

textarea {
  .font();
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 0.3em;
  width: 100%;
  box-sizing: border-box;
}

footer {
  margin-top: 2em;
  text-align: center;
  color: #666666;
  a {
    text-decoration: none;
    color: @color;
  }
}